@{
    if (HttpContext.Current.IsDebuggingEnabled)
    {
        ViewBag.Title = Model.Exception.Message;
    }
    else
    {
        ViewBag.Title = Resources.HaOcurridoUnErrorEnLaOperacionSolicitada;
    }
}

@using System.Runtime.Versioning
@using ErrorLab.WebUI.App_GlobalResources
@using ErrorLab.WebUI.Infrastructure
@model HandleErrorInfo

<div style="width:720px; height:460px; margin:0 auto; background-image:url(../../images/404BG.jpg); background-repeat:no-repeat; position:relative">
    <div style="position:absolute; top:70px; left:65px;"><img src="../../images/whoopsie.jpg" width="244" height="50" /></div>
    <div style="position:absolute; top:135px; left:80px; width:244px">
        <p>@Resources.HaOcurridoUnErrorEnLaOperacionSolicitada</p>
        @if (Model.Exception is AppException)
        {
            <p style="font-weight: bold;">@Model.Exception.Message</p>
        }
        @if (HttpContext.Current.IsDebuggingEnabled)
        {
            <p style="font-weight: bold;">
                @String.Format(Resources.LaAccionDelControladorHaLanzadoUnaExcepcionConElMensaje, Model.ActionName, Model.ControllerName, Model.Exception.GetType().Name, Model.Exception.Message)
            </p>
        }
    </div>
</div>
